	p{
	  color: black;
	  font-family: Arial;
	  font-size: 16px;
	}
	h1{ font-family: Helvetica;
		font-weight: bold;
		color: maroon;}
	.uppercase {
	  text-transform: uppercase;}
	.cursive{
	  font-family:  cursive;}
	h3{
		font-family: Georgia;
		font-size: 1em;
		width: 100%;
	}
	body{
		background-color: gray;
	}